
# Create Contoso Supermarket AI app
apiVersion: v1
kind: Service
metadata:
  name: contosoai
  namespace: {{ .Release.Namespace }}
  labels:
    app: contosoai
spec:
  selector:
    app: contosoai
  ports:
  - name: http
    port: 8000
    targetPort: 8000
  type: LoadBalancer
---
# Create Contoso Supermarket Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: contosoai
  namespace: {{ .Release.Namespace }}
  labels:
    app: contosoai
spec:
  replicas: 1
  selector:
    matchLabels:
      app: contosoai
  template:
    metadata:
      labels:
        app: contosoai
    spec:
      containers:
        - name: contosoai
          image: "{{ .Values.acr_name }}.azurecr.io/{{ .Values.branch_name}}/contoso-supermarket/contosoai:v1.1"
          ports:
            - containerPort: 8000
      imagePullSecrets:
        - name: acr-secret
