<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
    {% for product in productlist %}
    <div class="col">
        <div class="card p-3 shadow h-100 d-flex flex-col border-grey">
          <img  src="{{ product.photopath }}" class="card-img-top" alt="{{product.name}}">
          <div class="mt-auto">
            <div class="h5 mb-2">{{ product.name }}</div>
            <div class="fs-6 mb-2">{{ product.description }}</div>
            <div class="h3 mb-3">${{ "%.2f" | format(product.price) }}</div>
            <a href="#" class="btn add-to-cart w-100 bg-green text-white fw-normal shadow-sm" id="liveAlertBtn" onclick="alert('Item Added to Cart', 'success')"  data-product-id="{{ product.productid }}" data-product-name="{{ product.name }}" data-product-price="{{ product.price }}"   data-product="{{ product.productid }} ">Add to order</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
