
<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
    <div class="container-fluid">
      <!-- <img src="static/img/fourthcoffee1.png" class="d-inline-block align-top" alt=""> -->
      <a class="navbar-brand" href="#">
        <img src="static/img/contosologo.png"  class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('inventory') }}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="{{ url_for('index') }}">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" >Dashboard</a>
          </li>
        </ul>
        <form class="d-flex" role="checkout">
          <a href="{{ url_for('cart') }}" class="btn btn-success" type="submit">Checkout</a>
        </form>
      </div>
    </div>

  </nav>
  
  
  
  