<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="cosmosDBName" value="xxxxx"/>
		<add key="SPN_TENANT_ID" value="xxxxx-8464-4e20-a29e-xxxx"/>
		<add key="SPN_CLIENT_ID" value="xxx-4765-44a4-b73b-xxx"/>
		<add key="SPN_CLIENT_SECRET" value="xxxx~xxxxxx"/>
		<add key="subscriptionId" value="xxx-df6c-45f2-xxx-529f8dc1fe74"/>
		<add key="resourceGroup" value="rg-xxxx"/>
		<add key="cosmosDatabaseName" value="Orders"/>
		<add key="containerName" value="Orders"/>
		<add key="productsJsonFile" value="products.json"/>
		<add key="storesJsonFile" value="stores.json"/>
		<add key="NoOfDays" value="-30"/>
	</appSettings>
</configuration>