/* base styles for the site */
html {
    height: 100%;
}

/* holiday banner overlay positioning */
#holiday-overlay {
    opacity: 0.9;
    height: 98.11px;
    top: 0;
    right: 0;
}
@media (min-width: 991.98px) {
    /* add offset if greater than tablet sized screens */
    #holiday-overlay {
        right: 17rem;
    }
}

/* page background color */
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

/* color overrides */
.text-green {
    color: #FCE531 !important;
}
.bg-green {
    background-color: #FCE531 !important;
}
.bg-green.btn:hover {
    background-color: #FCE531 !important;
}
.border-grey {
    border-color: #aeaeae !important;
}

/* border overrides */
.border-radius-xs {
    border-radius: 0.1rem !important;
}
.border-none {
    border-color: #f0f0f0 !important;
}
.rounded {
    border-radius: 0.25rem !important;
}

/* button reset */
.btn-reset {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
}

/* helper classes */
.line-clamp-2 {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.z-index-1 {
    z-index: 1;
}

.background-cover {
    background-size: cover;
}
