/* base styles for the site */
html {
    height: 100%;
}

/* page background color */
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

/* color overrides */
.text-green {
    color: #51b60d !important;
}
.bg-green {
    background-color: #51b60d !important;
}
.bg-green.btn:hover {
    background-color: #41940a !important;
}
.border-grey {
    border-color: #aeaeae !important;
}

/* border overrides */
.border-radius-xs {
    border-radius: 0.1rem !important;
}
.border-none {
    border-color: #f0f0f0 !important;
}
.rounded {
    border-radius: 0.25rem !important;
}

/* button reset */
.btn-reset {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
}

.line-clamp-2 {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
